.hero {
    padding: 50px 0;
}

.hero-container {
    max-width: 460px;
}

.hero-title {
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.08em;
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
}

.hero-text {
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 20.1px;
    text-align: left;
    color: #000000;
}

.hero-field {
    margin-bottom: 30px;
}

input {
    width: 100%;
    max-width: 442px;
    top: 63px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border-bottom: 1px solid #000000;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 23.45px;
    text-align: left;
}

.hero-sub-title {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 23.45px;
    text-align: right;
    color: #000000;
    margin-bottom: 30px;
}

.hero-btn {
    width: 100%;
    max-width: 442px;
    height: 43px;
    top: 419px;
    left: 162px;
    gap: 0px;
    opacity: 0px;
    border: 1px solid #000000;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.34px;
    letter-spacing: 0.175em;
    text-align: center;
    color: #000000;
}

.hero-btn:hover {
    background: #000000;
    color: #FFFFFF;
}

.hero-sub2-title {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 23.45px;
    text-align: center;
    color: #000000;
    margin: 30px 0;
}